name: TagBot

on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  TagBot:
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          registry: ITensor/ITensorRegistry
          ssh: ${{ secrets.DOCUMENTER_KEY }}
